# Ignore node_modules
node_modules

# Ignore logs
*.log

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore version control files
.git
.gitignore

# Ignore build artifacts
.next
out

# Ignore environment files
.env
